<div class="row grid-4">
  <div class="col-md">
    <form>
      <input type="text" name="id" [(ngModel)]="producto.id" placeholder="Nombre" >
      <input type="text" name="nombre" [(ngModel)]="producto.nombre" placeholder="Nombre" minleng="1" >
      <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" placeholder="Cantidad" >
      <input type="text" name="tipo" [(ngModel)]="producto.tipo" placeholder="Tipo" >
      <button class="btn btn-primary" type="button" (click)="agregar()">Nuevo
        <i class="fa-solid fa-cart-plus"></i>
      </button>
      <button type="submit" class="btn btn-primary" (click)="actualizar()">Actualizar
        <i class="fa-solid fa-cart-plus"></i>
      </button>
  </form>
  </div>
</div>

