<h1>Tabla de productos</h1>
<div class="col-12">
  <div class="col-12">
    <form>
      <label><strong>ID</strong></label>
      <label><strong>Nombre</strong></label>
      <label><strong>Cantidad</strong></label>
      <label><strong>Tipo</strong></label>
      <br>
      <input type="text"  name="id" [(ngModel)]="producto.id" disabled>
      <input type="text" name="nombre" [(ngModel)]="producto.nombre" placeholder="Nombre" minleng="1" >
      <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" placeholder="Cantidad" >
      <input type="text" name="tipo" [(ngModel)]="producto.tipo" placeholder="Tipo" >
      <br>
      <button class="btn btn-primary" type="button" (click)="agregar()">Crear Nuevo
        <i class="fa-solid fa-cart-plus"></i>
      </button>

      <button type="button" class="btn btn-primary" (click)="actualizar()" aria-pressed="false" >Guardar
        <i class="fa-solid fa-far fa-save"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="clear()" >Cancelar
        <i class="fa-solid fa-ban"></i>
      </button>

  </form>
  </div>
</div>
<div class="row col-12">
  <form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr  *ngFor="let index of productos; let i = index">
        <th scope="row">{{index.ID}}</th>
        <td id="id" >{{index.Nombre}}</td>
        <td>{{index.Cantidad}}</td>
        <td>{{index.Tipo}}</td>
        <td>
          <button class="btn btn-danger "
              type="button"
              (click)="eliminar(index.ID)"
              title="Eliminar">
              <i class="fa-solid fa-trash-can"></i>
          </button>

          <button class="btn btn-primary" type="button"
             (click)="pasarDatos(index.ID,index.Nombre,index.Cantidad,index.Tipo)"
             title="actualizar">
             <i class="fa-solid fa-file-pen"></i>
          </button>

        </td>
      </tr>

    </tbody>
  </table>
</form>

</div>

