<h1>Tabla de productos</h1>

<app-inputs
[idActualizar]="id"
[nombreActualizar]="nombre"
[cantidadActualizar]="cantidad"
[tipoActualizar]="tipo">
</app-inputs>

<br>

<div class="row col-12">
  <form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngFor="let items of items$ | async;">
        <th scope="row">{{items.Id}}</th>
        <td>{{items.Nombre}}</td>
        <td>{{items.Cantidad}}</td>
        <td>{{items.Tipo}}</td>

        <td>
          <button class="btn btn-danger"
              type="button"
              (click)="deleteData(items.Id)"
              title="Eliminar">Eliminar
              <i class="fa-solid fa-trash-can"></i>
          </button>

          <button class="btn btn-primary" type="button"
             (click)="Enviar(items.Id,items.Nombre,items.Cantidad,items.Tipo)"
             title="actualizar">Actualizar
             <i class="fa-solid fa-file-pen"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

</div>
